<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MyfbuserMapper">
    
    <resultMap type="Myfbuser" id="MyfbuserResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="name"    column="name"    />
        <result property="points"    column="points"    />
    </resultMap>

    <sql id="selectMyfbuserVo">
        select id, account, password, name, points from myfbuser
    </sql>

    <select id="selectMyfbuserList" parameterType="Myfbuser" resultMap="MyfbuserResult">
        <include refid="selectMyfbuserVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="points != null "> and points = #{points}</if>
        </where>
    </select>
    
    <select id="selectMyfbuserById" parameterType="Long" resultMap="MyfbuserResult">
        <include refid="selectMyfbuserVo"/>
        where id = #{id}
    </select>

    <insert id="insertMyfbuser" parameterType="Myfbuser">
        insert into myfbuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="points != null">points,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="points != null">#{points},</if>
         </trim>
    </insert>

    <update id="updateMyfbuser" parameterType="Myfbuser">
        update myfbuser
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="points != null">points = #{points},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMyfbuserById" parameterType="Long">
        delete from myfbuser where id = #{id}
    </delete>

    <delete id="deleteMyfbuserByIds" parameterType="String">
        delete from myfbuser where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>