<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MyfbwebMapper">
    
    <resultMap type="Myfbweb" id="MyfbwebResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="url"    column="url"    />
        <result property="isActive"    column="is_active"    />
    </resultMap>

    <sql id="selectMyfbwebVo">
        select id, name, description, url, is_active from myfbweb
    </sql>

    <select id="selectMyfbwebList" parameterType="Myfbweb" resultMap="MyfbwebResult">
        <include refid="selectMyfbwebVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="isActive != null "> and is_active = #{isActive}</if>
        </where>
    </select>
    
    <select id="selectMyfbwebById" parameterType="Long" resultMap="MyfbwebResult">
        <include refid="selectMyfbwebVo"/>
        where id = #{id}
    </select>

    <insert id="insertMyfbweb" parameterType="Myfbweb" useGeneratedKeys="true" keyProperty="id">
        insert into myfbweb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="url != null">url,</if>
            <if test="isActive != null">is_active,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="url != null">#{url},</if>
            <if test="isActive != null">#{isActive},</if>
         </trim>
    </insert>

    <update id="updateMyfbweb" parameterType="Myfbweb">
        update myfbweb
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="url != null">url = #{url},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMyfbwebById" parameterType="Long">
        delete from myfbweb where id = #{id}
    </delete>

    <delete id="deleteMyfbwebByIds" parameterType="String">
        delete from myfbweb where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>